body {
    background: #f3f3f3;
    padding-top: 0;
}

#container {
    width: 100%;
    max-width: 1200px;
    background: #fff;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 2rem;
    margin: 0 auto;
}

.recipe-card {
    max-width: 300px;
    width: 100%;
    border: 1px solid #969595;
    padding: 1rem;
  }